body {
  background: #0d2130;
  color: white;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 21px;
  font-weight: normal;
}

button:focus {
  outline: 0;
}

.img-fluid {
  max-width: 90%;
}

.description {
  margin-bottom: 2rem;
}

.question {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.answer {
  font-size: 21px;
  margin-bottom: 3rem;
}

nav.navbar-dark {
  background: #002e5d;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1rem;
}

.navbar-toggler {
  border: none;
}

.nav-justified {
  width: 100%;
}

.nav-link {
  color: white;
  padding: 0rem 3rem;
}

.nav-link:hover {
  color: #d1d9dc;
}

@media (max-width: 576px) {
  .nav-link {
    padding: 0.3rem 3rem;
  }

  .hLine {
    border-top: 1px solid #d1d9dc;
  }

  nav.navbar-dark {
    padding: 0.5rem 0rem;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
  }

  .question {
    font-size: 19px;
  }

  .answer {
    font-size: 15px;
  }

  .offset-2 {
    margin-left: 0;
  }
}
