body {
  background: #0d2130;
  color: white;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 21px;
}

.description {
  margin-bottom: 2rem;
}

.question {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.answer {
  font-size: 20px;
  margin-bottom: 3rem;
}

nav.navbar {
  background: #002e5d;
  border-radius: 0;
  border: none;
  max-height: 50px;
}

.nav-justified {
  width: 100%;
}

.nav-link {
  color: white;
  padding: 0rem 3rem;
}

.nav-link:hover {
  color: #d1d9dc;
}
